/* CONFIGURACION GENERAL */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; /* compatibilidad en varios navegadores*/
  box-sizing: border-box;
}

body {
  font-family: 'Aguafina Script', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Cantora One', sans-serif;
  /* color:#fff; */
}

html{
  font-size:100%; /*tamaño por defecto base 16px*/
  }


/* ESTO VA A OCULTAR LAS SECCIONES SEGUN LO QUE INDIQUEMOS EN JS,
  DE ACUERDO AL DISEÑO DE HTML */
.oculto {  
  display: none;
}

/*
   HEADER 
      ASPECTOS GENERALES*/

.header {
  width:100%;
  background: #10355a;
   list-style: none; /*eliminar estilo predeterminado de lista */
   padding: 15px; /* Establece la anchura de algunas o todas las zonas de relleno de los elementos*/
   font-size: 0.8em;
   border-bottom: none;   /* establecer simultáneamente el grosor, estilo y color del borde inferior de un elemento */
   overflow: hidden;  /*Controla el comportamiento de los contenidos que no caben en su elemento contenedor */
   display: block;   /* Establece el tipo de caja generada por un elemento */
}

.top-about ul{
    list-style: none;
  } 

.top-about ul li{
  text-decoration: none;
    float: left;
}

.top-about ul li a{
    text-decoration: none;
    color: #97b4f8;
  } 

.top-about ul li a:hover{
    color: #ffe553;
  }

  /* about BARRA SUPERIOR derecha redes sociales*/
  .top-redes ul{
    list-style: none;
  }

  .top-redes ul li{
    float: right;
  }

  .top-redes ul li a{
    text-decoration: none;
    color: #97b4f8;
    padding: 10px 15px;
  }

  .top-redes ul li a:hover {
    color: #ffe553;
  }
/*-------------------------------------------------
-----------------SECTION UNO INICIO */
.inicio {
    margin: 0;
    width: 100%;
    height: 100vh; /* VH es alto de la ventana. permite adaptacion en dispositivos*/
    background: url(images/banner-uno.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 14% 0;
  }

  #titles {
    padding: 30px;
    color: #ffffff;
    text-align: center;
    background-color: #10355a90; /* los ultimos dos digitos indican el porcentaje de opacidad*/
  }
  h1 {
    font-size: 6em; /* 1em= 16px */
  }
  h3 {
    font-size: 1.5em;
  }
  .titles p {
    font-size: 1.3em;
  }

  /*-------------------------------------------------
-----------------SECTION UNO PRESENTACION */
#presentacion {
  
    margin: 0;
    width: 100%;
    height: 100vh; /* VH es alto de la ventana. permite adaptacion en dispositivos*/
    background: url(images/banner-dos.jpg);
    background-color: #7c0303;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    padding: 14% 0;
}

.presentacion p {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  padding: 40px 90px; /* el primer valor refiere a los verticales. el segundo valor a los horizontales*/
  margin: 0;
  width: 50%;
  overflow: hidden;
  
}
.btn-reto {
  text-decoration: none; /*elimina el subrayado automatico*/
  padding: 10px; /*distancia entre el texto y el borde del botón.  */
  font-weight: 400; /*grosor de las letras */
  font-size: 20px;
  color: #ffffff;
  background-color: #ec840c;
  border-radius: 6px;
  margin-left: 70%;
}

.btn-reto:hover{
  color: #7c0303;
  background-color: #ffcd43;
  font-weight: 600;
}


/*-------------------------------------------------
-----------------SECTION BANNER ENIGMA */
#banner-enigma {
  
  margin: 0;
  width: 100%;
  background: url(images/banner-bookviejoabierto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  color: #fff;
  }
  
#title-enigma {
  font-size: 1.8em;
  text-align: center;
}
#text-description {
  font-size: 1.3em;
  padding: 40px 90px; /* el primer valor refiere a los verticales. el segundo valor a los horizontales*/
  margin: 0; 
}

#traduccion {
  font-size: 0.6em;
  margin: 100px;
}
#criptogram {
  float:left;
  margin:15px;
}

#imagenes-varias {
  width: 100%;
  height: 10%;
  object-fit: cover;
  padding: 5px;
  margin: 0;
   
}

#instructions {
  margin: 0;
  width: 100%;
  height:105vh;
  background: #f38b03;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 5%;
  color: black;
}
#title-inst {
  font-size: 1.8em;
  text-align: center;

}
#example {
  float: left;
  margin:15px;
}
#explicacion {
  font-size: 1.3em;
  padding: 20px 40px;
  margin: 0;
}
#desplazamiento {
  float: right;
  margin:0;
}

.btn-inicio {
  text-decoration: none; /*elimina el subrayado automatico*/
  padding: 10px; /*distancia entre el texto y el borde del botón.  */
  font-weight: 400; /*grosor de las letras */
  font-size: 20px;
  color: #ffffff;
  background-color: #ec0c0c;
  border-radius: 6px;
  margin-left: 15%;
}

.btn-inicio:hover{
  color: #000000;
  background-color: #7bd2fa;
  font-weight: 600;
}

/*-------------------------------------------------
-----------------SECTION DECIFRADO VERNE */
#decifrado-verne {
    margin: 0;
    width: 100%;
    height: 150vh;
    background: url(images/banner-escrib.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 5%;
    color: #fff;
}
#title-decif {
  font-size: 5em;
  text-align: center;
}

#content-decif {
  color: #fff;
  font-style: italic;
  text-align: center;
  font-size: 2em;
  padding: 40px 90px; /* el primer valor refiere a los verticales. el segundo valor a los horizontales*/
  margin: 0;
  width: 50%;
  overflow: hidden;
}

#offset-text {
  font-size: 1.5em;
}

/*-------------------------------------------------
-----------------CIFRADO VERNE */
#cifrado-verne {
  
    margin: 0;
    width: 100%;
    height: 150vh;
    background: url(images/banner-books.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 5%;
    color: #443f3f;
}
#title-cif {
  font-size: 5em;
  text-align: left;
}

#content-cif {
  font-style: italic;
  text-align: center;
  font-size: 2em;
  padding: 40px 90px; /* el primer valor refiere a los verticales. el segundo valor a los horizontales*/
  margin: 0;
  width: 50%;
  overflow: hidden;
}

#offset-text {
  font-size: 1.5em;
}






/*-------------------------------------------------
-----------------SECTION PIE DE PAGINA */
#footer {
  width:100%;
  background: #10355a;
   list-style: none;
   padding: 15px; 
   font-size: 0.8em;
   border-bottom: none;
   overflow: hidden;  
   display: inline-block;
   color: #97b4f8;
}
.down-info {
    list-style: none;
  } 

.down-info ul li {
    float: left;
    text-decoration: none;
    color: #97b4f8;
  } */